// -----------------------------------------------------------------------------
// Display utilities classes
// -----------------------------------------------------------------------------
// Docs: https://getbootstrap.com/docs/4.3/utilities/display/
// Attention: available types in @/assets/scss/core/_config.scss
// -----------------------------------------------------------------------------

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $value in $displays {
      .d#{$infix}-#{$value} { display: $value !important; }
    }
  }
}
