// -----------------------------------------------------------------------------
// UI button
// -----------------------------------------------------------------------------
// 1. Common
// 2. Types
// 3. Sizes
// 4. Icon
// -----------------------------------------------------------------------------

// 1. Common
.ui-button {
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  -webkit-appearance: none;
  text-align: center;
  outline: 0;
  margin: 0;
  border: none;
  font-weight: 400;
  user-select: none;
  padding: 0 20px;
  height: 46px;
  color: $color-white;
  letter-spacing: 0.02em;
  background-color: $color-gold-600;
  border-radius: 2px;
  transition: ease-in-out 250ms;
  & + .ui-button {
    margin-left: 20px;
  }

  &.is-loading {
    cursor: progress;
    span {
      position: relative;
    }
    .icon {
      position: absolute;
      top: 0;
      left: -22px;
      animation: rotating 1s linear infinite;
      &:before {
        content: '';
        width: 16px;
        height: 16px;
        border: 1px solid currentColor;
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: block;
      }
    }
  }

  &.is-disabled {
    cursor: not-allowed;
    background-color: $color-gray-600;
    &:hover {
      background-color: $color-gray-600;
    }
  }

  &:hover {
    background-color: $color-gold-500;
  }

  // 2. Types
  &--dark {
    background-color: $color-blue;
    &:hover {
      background-color: rgba($color-blue, 0.9);
    }
  }

  &--red {
    background-color: $color-red;
    &:hover {
      background-color: rgba($color-red, 0.9);
    }
  }

  &--blue {
    background-color: $color-light-blue;
    &:hover {
      background-color: rgba($color-light-blue, 0.9);
    }
  }

  &--text {
    height: 16px;
    font-size: 12.5px;
    background-color: transparent;
    color: $color-text;
    padding: 0;
    letter-spacing: 0.02em;
    &.is-disabled {
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
    }
    &:hover {
      background-color: transparent;
    }
    .icon {
      color: inherit;
      width: 14px;
      height: 14px;
      position: relative;
      top: -1px;
    }
  }

  &.change{
    color: $color-red;
    &.is-disabled {
      color: rgba($color-red, 0.5);
      &:hover {
        color: rgba($color-red, 0.5);
      }
    }
    &:hover {
      color: rgba($color-red, 0.9);
    }
  }
  &.detail {
    color: $color-light-blue;
    &.is-disabled {
      color: rgba($color-light-blue, 0.5);
      &:hover {
        color: rgba($color-light-blue, 0.5);
      }
    }
    &:hover {
      color: rgba($color-light-blue, 0.9);
    }
  }

  // 3. Sizes
  &--small {
    height: 38px;
  }

  // 4. Icon
  .icon {
    height: 16px;
    width: 16px;
    display: inline-block;
    color: inherit;
    margin-right: 6px;
    line-height: 46px;
    vertical-align: middle;
  }
}

@keyframes rotating {
  0% {
    transform: rotateZ(0)
  }
  100% {
    transform: rotateZ(360deg)
  }
}
