// -----------------------------------------------------------------------------
// UI select
// -----------------------------------------------------------------------------
// 1. Svg actions
// 2. Arrow & cross icons
// 3. Open statement
// 4. Dropdown
// -----------------------------------------------------------------------------

.v-select {
  .vs__dropdown-toggle {
    border-radius: 2px;
    border-color: $color-gray-500;
    transition: border-color ease-in-out 250ms;
    height: 38px;
    font-size: 13px;
    color: $color-text;

    &:hover {
      border-color: $color-gray-700;
    }

    .vs__selected {
      height: calc(100% - 3px);
    }
  }

  // 1. Svg actions
  .vs__actions {
    cursor: pointer;
    svg {
      width: auto !important;
      height: auto !important;
    }

    // 2. Arrow & cross icons
    .vs__open-indicator, .vs__clear {
      fill: rgba($color-text, 0.5);
      transform: scale(0.7);
    }

  }

  // 3. Open statement
  &.vs--open {
    .vs__dropdown-toggle {
      border: solid 1px $color-gold-600;
    }

    .vs__open-indicator {
      transform: rotate(180deg) scale(0.7);
    }
  }

  // 4. Dropdown

  .vs__dropdown-menu {
    border: solid 1px $color-gray-500;
    border-radius: 2px;
    top: 120%;
    font-size: 13px;
    box-shadow: none;

    .vs__dropdown-option {
      height: 30px;
      line-height: 30px;
      padding: 0 12px;
    }

    .vs__dropdown-option--highlight {
      background-color: $color-gray-500;
      color: $color-text;
    }
  }
}
