// -----------------------------------------------------------------------------
// UI table
// -----------------------------------------------------------------------------

.table-wrapper {
  padding-bottom: 10px;
  background-color: $color-white;
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: 0 2px 12px rgba($color-black, 0.06);
  .ui-table {
    width: 100%;
    font-family: inherit;
    font-size: 12.5px;
    user-select: none;
    // Custom table scroll
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(144, 147, 153, 0.3);
      top: 2px;
      bottom: 2px;
      border-radius: 3px;
      cursor: pointer;

      &:hover {
        background-color: rgba(144, 147, 153, 0.5);
      }
    }

    // 1. Table head
    thead {
      border-bottom: solid 1px $color-gray-500;

      th {
        padding: 15px 0;
        vertical-align: top;

        .cell {
          padding: 0 6px;
          line-height: 15px;
          color: rgba($color-text, 0.75);
          font-weight: 500;
        }

        &:first-child {
          text-align: right;

          .cell {
            padding-right: 6px;
            padding-left: 20px;
          }
        }
      }
    }

    // 2. Table body
    tbody {
      tr {
        &.selected {
          background-color: rgba($color-text, 0.03);
        }
        &.attention {
          background-color: rgba($color-red, 0.06);
          td.name-col {
            .cell {
              &:before {
                background-color: inherit;
              }
            }
          }
          &:hover, &.selected {
            background-color: rgba($color-red, 0.1);
          }
        }
        &:not(:last-child) {
          border-bottom: 1px solid $color-gray-500;
        }
        td {
          vertical-align: middle;
          padding: 15px 0;

          &:first-child {
            .cell {
              padding-left: 20px;
              padding-right: 6px;
            }
          }
          &:last-child {
            .cell {
              padding-right: 20px;
            }
          }
          .cell {
            padding: 0 6px;
            text-overflow: ellipsis;
            line-height: 16px;
            color: rgba($color-text, 0.75);
          }

          &.num-col {
            text-align: right;
            width: 40px;
            max-width: 40px;
          }

          &.name-col {
            min-width: 350px;
            .cell {
              position: relative;
              &:before {
                content: '';
                position: absolute;
                width: 14px;
                height: 14px;
                background-color: $color-white;
                left: 6px;
                top: 50%;
                transform: translateY(-50%);
                border: solid 3px currentColor;
                border-radius: 50%;
              }
              span {
                padding-left: 22px;
                color: rgba($color-text, 0.75);
              }
            }
          }

          &.date-col {
            min-width: 90px;
          }

          &.count-col {
            min-width: 68px;
          }

          &.profit-col  {
            min-width: 87px;
          }

          &.rate-col {
            max-width: 50px;
            width: 50px;
          }
        }
      }
    }
  }
}



