// -----------------------------------------------------------------------------
// UI form field
// -----------------------------------------------------------------------------
// Desc: Re-usable markup for form field
// -----------------------------------------------------------------------------
// 1. Common
// 2. Label
// 3. Selected range slider item
// 4. Tooltip
// 5. Errors
// -----------------------------------------------------------------------------

.ui-form-field {
  padding-top: 24px;
  padding-bottom: 20px;
  position: relative;

  // 2. Label
  .label {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-right: 20px;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font: {
      size: 13px;
      weight: 400;
      family: inherit;
    }
    letter-spacing: 0.02em;
    color: rgba($color-text, 0.75);
    user-select: none;



  }


  // 3. Selected range slider item
  .chosen {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 13px;
    line-height: 14px;
    color: $color-gold-600;
    user-select: none;
  }

  // 3. Tooltip
  .ui-tooltip {
    display: block;
    position: absolute;
    top: 0;
    right: 0;

  }
  // 4. Errors
  .errors {
    position: absolute;
    right: 0;
    bottom: 3px;
    left: 0;
    height: 14px;
    line-height: 14px;
    padding: 0 2px;
    font-size: 11.5px;
    font-weight: 400;
    font-family: inherit;
    color: $color-red;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    // If has errors
    &[title] {
      cursor: help;
    }
  }

}
