// -----------------------------------------------------------------------------
// Ui popup
// -----------------------------------------------------------------------------

.v--modal-overlay {
  background: rgba($color-black, 0.4) !important;
  z-index: 1001;
  .v--modal-box {
    // Close button
    .cross {
      position: absolute;
      right: 15px;
      top: 15px;
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      cursor: pointer;
      border: none;
      background-color: transparent;
      z-index: 10;
      &:before, &:after {
        content: '';
        position: absolute;
        display: block;
        background-color: rgba($color-text, 0.8);
      }
      &:before {
        width: 10px;
        height: 2px;
        left: 0;
        top: 4px;
      }
      &:after {
        height: 10px;
        width: 2px;
        left: 4px;
        top: 0;
      }
      &:hover {
        &:before, &:after {
          background-color: $color-text;
        }
      }
    }

    // Popup for send mail
    .send-mail {
      padding: 30px 20px;
      position: relative;

      h2 {
        font-size: 20px;
        letter-spacing: 0.02em;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        color: $color-text;
        margin-bottom: 15px;
      }
      .ui-form-field {
        margin-bottom: 10px;
      }
    }
  }
}
