// -----------------------------------------------------------------------------
// UI checkbox
// -----------------------------------------------------------------------------
// 1. Hide default input
// 2. Checked
// -----------------------------------------------------------------------------

.ui-checkbox {
  display: inline-flex;
  align-items: center;
  height: 38px;
  & + .ui-checkbox {
    margin-left: 30px;
  }

  // 1. Hide default input
  input {
    display: none;
  }

  label {
    padding-left: 24px;
    user-select: none;
    cursor: pointer;
    position: relative;
    line-height: 18px;
    display: block;
    &:hover {
      &:before {
        transition: border-color ease-in-out 250ms;
        border-color: $color-gray-700;
      }
    }
    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 2px;
      border: solid 1px $color-gray-500;
      left: 0;
      top: 0;
      transition: background-color cubic-bezier(.71, -.46, .29, 1.46) 250ms,
      border-color ease-in-out 250ms;

    }
    &:after {
      box-sizing: content-box;
      content: '';
      border: 2px solid #FFF;
      border-left: 0;
      display: block;
      border-top: 0;
      height: 7px;
      left: 7px;
      position: absolute;
      top: 3px;
      transform: rotate(45deg) scale(0);
      width: 3px;
      transform-origin: center;
      transition: transform 150ms ease-in 50ms, -webkit-transform 150ms ease-in 50ms;
    }
  }

  // 2. Checked
  input:checked + label:before {
    background-color: $color-gold-600;
    border: $color-gold-600;
  }

  input:checked + label:after {
    box-sizing: content-box;
    content: '';
    border: 2px solid #FFF;
    border-left: 0;
    display: block;
    border-top: 0;
    height: 7px;
    left: 7px;
    position: absolute;
    top: 3px;
    width: 3px;
    transform-origin: center;
    transform: rotate(45deg) scaleY(1);
  }
}
