// -----------------------------------------------------------------------------
// Ui-Highcharts (chart parts stylesheets)
// -----------------------------------------------------------------------------
// 1. Common
// 2. Label
// 3. Empty pie data
// 4. Tooltip
// -----------------------------------------------------------------------------

// - 1. Common -----------------------------------------------------------------
.highcharts-container {
  letter-spacing: 0.02em;

  .highcharts-title {
    color: $color-text;
    font-size: 20px;
    font-weight: 500;
  }

  // - 2. Label ----------------------------------------------------------------
  .highcharts-label {
    h3 {
      font-size: 13px;
      font-weight: 400;
      color: rgba($color-text, 0.75);
      margin-bottom: 3px;
      line-height: 1;
    }

    p {
      line-height: 1;
      font-size: 13px;
      color: $color-text;
      font-weight: 500;

      span {
        color: rgba($color-text, 0.75);
      }
    }
  }

  // - 3 Empty pie data -------------------------------------------------------
  .highcharts-pie-series {
    circle {
      stroke-width: 30px;
      stroke: $color-gray-700;
    }
  }

  // - 4. Tooltip --------------------------------------------------------------
  .chart-tooltip {
    h3 {
      color: $color-gray-700;
      font-size: 13px;
      margin-bottom: 5px;
      line-height: 13px;
      position: relative;
      padding-left: 10px;

      em {
        width: 6px;
        height: 6px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
      }
    }

    em {
      width: 5px;
      height: 5px;
      display: inline-block;
    }

    span {
      font-size: 12px;
      color: $color-gray-700;
      line-height: 16px;
      display: block;
    }
  }
}
