// -----------------------------------------------------------------------------
// UI tooltip
// -----------------------------------------------------------------------------
// 1. Common
// 2. Theme 'Light' (tippy)
// -----------------------------------------------------------------------------


.ui-tooltip {
  display: block;
  padding: 0;
  width: 14px;
  height: 14px;
  cursor: help;
  border-radius: 50%;
  border: none;
  background-color: $color-white;
  overflow: hidden;
  color: $color-gray-700;
  transition: color 250ms ease-in-out;
  letter-spacing: 0.02em;
  &:hover {
    color: rgba($color-text, 0.5);
  }
}


// 2. Theme 'Light' ------------------------------------------------------------

.tippy-tooltip.light-theme {
  max-width: 240px !important;
  background-color: $color-white;
  border: solid 1px $color-gray-500;
  font-size: 12px;
  font-weight: 400;
  font-family: inherit;
  user-select: none;
  color: rgba($color-text, 0.55);
  text-align: left;
  padding: 12px 15px;
  border-radius: 4px;
  line-height: 15px;
  box-shadow: 0 2px 12px rgba($color-black, 0.1);
}

.tippy-popper .tippy-tooltip.light-theme .tippy-arrow:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}

.tippy-popper[x-placement^=top] .tippy-tooltip.light-theme .tippy-arrow {
  border-top: 8px solid $color-gray-500;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  margin: 0 8px;
  &:after {
    top: -8px;
    right: -7px;
    border-right: 7px solid transparent;
    border-top: 7px solid $color-white;
    border-left: 7px solid transparent;
  }
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-theme .tippy-arrow {
  border-bottom: 8px solid $color-gray-500;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  margin: 0 8px;
  &:after {
    top: 1px;
    right: -7px;
    border-right: 7px solid transparent;
    border-bottom: 7px solid $color-white;
    border-left: 7px solid transparent;
  }
}

.tippy-popper[x-placement^=left] .tippy-tooltip.light-theme .tippy-arrow {
  border-left: 8px solid $color-gray-500;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  &:after {
    top: -7px;
    right: 1px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid $color-white;
  }
}

.tippy-popper[x-placement^=right] .tippy-tooltip.light-theme .tippy-arrow {
  border-right: 8px solid $color-gray-500;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  &:after {
    top: -7px;
    left: 1px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid $color-white;
  }
}

.tippy-tooltip.light-theme .tippy-roundarrow {
  fill: $color-white
}

.tippy-tooltip.light-theme[data-animatefill] {
  background-color: transparent
}
