// -----------------------------------------------------------------------------
// UI details
// -----------------------------------------------------------------------------
// 1. Title
// 2. Text
// 3. Attention
// 3. List
// 4. Button
// -----------------------------------------------------------------------------
.ui-details {
  height: 100%;
  .desc {
    background-color: $color-white;
    padding: 30px 40px 40px 40px;
    box-shadow: 0 2px 12px rgba($color-black, 0.06);
    user-select: none;
    position: relative;
    // 1. Title
    .title {
      min-height: 20px;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      h2 {
        font-size: 15px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.02em;
        position: relative;
        padding-left: 38px;
        span {
          color: $color-text;
        }
        &:before {
          content: '';
          position: absolute;
          height: 18px;
          width: 18px;
          border-radius: 50%;
          border: solid 4px currentColor;
          background-color: $color-white;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    // 2. Text
    .text {
      margin-bottom: 20px;
      p {
        font-size: 14px;
        line-height: 17px;
        color: rgba($color-text, 0.75);
        padding-bottom: 20px;
        border-bottom: solid 1px $color-gray-600;
      }
    }

    // 3. Attention
    .attention {
      display: inline-block;
      color: $color-red;
      margin-bottom: 10px;
    }

    // 4. List
    .list {
      li {
        font-size: 13px;
        font-weight: 500;
        line-height: 15px;
        color: $color-text;
        &:first-child {
          span {
            color: $color-text;
            font-weight: 500;
          }
        }
        &:nth-child(2) {
          span {
            color: $color-gold-600;
            font-weight: 500;
          }
        }
        &:last-child, &:nth-last-child(-n+2) {
          width: 60%;
        }
        &:not(:last-child) {
          margin-bottom: 10px;
        }
        span {
          font-weight: 400;
          color: rgba($color-text, 0.75);
          padding-left: 8px;
        }
      }
    }

    // 5. Button
    .ui-button {
      position: absolute;
      right: 40px;
      bottom: 40px;
    }
  }
}

