// -----------------------------------------------------------------------------
// UI input
// -----------------------------------------------------------------------------
// 1.
// -----------------------------------------------------------------------------

.ui-input {
  width: 100%;
  height: 38px;
  border-radius: 2px;
  border: solid 1px $color-gray-500;
  font-size: 13px;
  font-weight: 400;
  font-family: inherit;
  color: $color-text;
  padding: 0 15px;
  transition: border-color ease-in-out 250ms;

  &::placeholder {
    color: $color-gray-600;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:hover {
    border-color: $color-gray-700;
  }

  &:focus {
    outline: none;
    border-color: $color-gold-600;
  }

  &.error {
    border-color: $color-red;
  }
}

.input-pwd {
  position: relative;
  .ui-input {
    padding-right: 36px;
  }
  .toggle-type {
    width: 16px;
    height: 16px;
    border: none;
    background-color: transparent;
    position: absolute;
    padding: 0;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    .icon {
      width: 100%;
      height: 100%;
      color: $color-gray-700;
      transition: color ease-in-out 250ms;
      z-index: 2;
      &:hover {
        color: rgba($color-text, 0.6);
      }
    }
  }

}
