// -----------------------------------------------------------------------------
// Auth page
// -----------------------------------------------------------------------------

.page-auth {

  .form-wrapper {
    max-width: 300px;
    background-color: $color-white;
    margin: 0 auto;
    padding: 25px 20px 30px 20px;
    box-shadow: 0 2px 12px rgba($color-black, 0.06);

    // Heading
    h2 {
      text-align: center;
      margin-bottom: 15px;
    }

    .ui-button {
      margin-top: 5px;
    }
  }
}
