// -----------------------------------------------------------------------------
// Configuration page
// -----------------------------------------------------------------------------

.page-configuration {

  .form-wrapper {
    max-width: 630px;
    background-color: $color-white;
    margin: 0 auto;
    padding: 25px 40px 40px 40px;
    box-shadow: 0 2px 12px rgba($color-black, 0.06);
    position: relative;
    h2 {
      text-align: center;
      margin-bottom: 40px;
    }

    .rating-slider {
      margin: 25px 0 20px;
    }

    .button-col {
      display: flex;
      justify-content: center;
      padding-top: 10px;
      .ui-button {
        padding: 0 60px;
      }
    }

    .global-errors {
      text-align: center;
      width: 100%;
      position: absolute;
      top: calc(100% - 35px);
      left: 50%;
      transform: translateX(-50%);
      color: $color-red;
      font-size: 11.5px;
      line-height: 14px;
      padding: 0 40px;
      user-select: none;
    }
  }
}
