// -----------------------------------------------------------------------------
// Portfolio page
// -----------------------------------------------------------------------------
// 1. Chart
// 2. Actions
// 3. Table
// 4. Footer actions
// -----------------------------------------------------------------------------

.page-portfolio {

  .portfolio {
    margin-bottom: 40px;
    justify-content: center;
  }

  // 1. Chart
  .canvas {
    position: relative;

    i {
      width: 40px;
      height: 40px;
      line-height: 1;
      color: $color-gray-700;
      position: absolute;
      vertical-align: middle;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // 2. Actions
  .actions {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    p {
      user-select: none;
      letter-spacing: 0.02em;
      font-size: 15px;
      line-height: 16px;
      font-weight: 500;
      color: $color-text;

      span {
        padding-left: 10px;
        color: rgba($color-text, 0.75);
      }
    }

    @include media-breakpoint-down(md) {
      justify-content: center;
      p {
        margin-bottom: 20px;
      }
    }
  }

  // 3. Table
  .table {
    margin-bottom: 40px;
    tbody {
      tr {
        cursor: pointer;
        transition: background-color ease-in-out 250ms;
        &:hover {
          background-color: rgba($color-text, 0.03);
        }
      }
    }

  }

  // 4. Footer actions
  .footer-actions {
    justify-content: flex-end;

    .ui-button {
      padding: 0 60px;
    }
  }

}
