// -----------------------------------------------------------------------------
// Processing page
// -----------------------------------------------------------------------------

.page-processing {
  .row {
    justify-content: center;
  }
}
