// -----------------------------------------------------------------------------
// Replace page
// -----------------------------------------------------------------------------

.page-replace {
  .title {
    margin-bottom: 40px;
    h2 {
      text-align: center;
    }
  }


  .ui-table {
    .actions-col {
      min-width: 230px;
    }
  }
}
