<template lang="pug">
  AppLayout(v-bind="layoutParams"): .container: .row
    ValidationObserver.col(v-bind="observer" ref="form" v-slot="{ handleSubmit, invalid }")
      form.form-wrapper(@submit.prevent="handleSubmit(submit)" novalidate)
        h2(v-text="heading")
        //- Login field
        ValidationProvider.ui-form-field(v-bind="form.login.provider" v-slot="{ errors }")
          label.label(:for="form.login.params.name")
            | {{ form.login.label.text }}
          input.ui-input(
            v-bind="form.login.params"
            :id="form.login.params.name"
            v-model="form.login.val"
            :class="{ error: errors.length > 0 }"
          )
          p.errors(v-if="errors.length > 0" :title="errors[0]" v-text="errors[0]")
        //- Password field
        ValidationProvider.ui-form-field(v-bind="form.password.provider" v-slot="{ errors }")
          label.label(:for="form.password.params.name")
            | {{ form.password.label.text }}
          .input-pwd
            input.ui-input(
              v-bind="form.password.params"
              :id="form.password.params.name"
              v-model="form.password.val"
              :class="{ error: errors.length > 0 }"
            )
            .toggle-type(@click="showPassword"): i.icon: UiSpriteIcon(:icon="form.password.icon")
          p.errors(v-if="errors.length > 0" :title="errors[0]" v-text="errors[0]")
        UiButton.w100p(
          :disabled="invalid"
          :loading="form.loading"
          :submit="form.typeSubmit"
        ) Войти
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'Auth',
  // Data ----------------------------------------------------------------------
  data () {
    return {
      // Layout params
      layoutParams: {
        pageClass: 'auth'
      },
      // Observer
      observer: {
        tag: 'div'
      },
      // Heading
      heading: 'Авторизация',
      // Form
      form: {
        // Login field
        login: {
          val: '',
          label: {
            text: 'Логин'
          },
          provider: {
            tag: 'div',
            name: 'login',
            skipIfEmpty: false,
            rules: {
              required: false,
              min: 3
            },
            customMessages: {
              min: 'Минимальная длина 3 символа'
            }
          },
          params: {
            placeholder: 'Введите логин',
            name: 'login'
          }
        },
        // Password field
        password: {
          val: '',
          icon: 'hide',
          label: {
            text: 'Пароль'
          },
          provider: {
            tag: 'div',
            name: 'password',
            skipIfEmpty: false,
            rules: {
              required: true,
              min: 1
            },
            customMessages: {
              min: 'Минимальная длина 4 символа'
            }
          },
          params: {
            placeholder: 'Введите пароль',
            name: 'password',
            type: 'password'
          }
        },
        // Loading status
        loading: false,
        // Submit type
        typeSubmit: true
      }
    }
  },
  // Methods -------------------------------------------------------------------
  methods: {
    // Vuex map actions of the User SM
    ...mapActions('moduleUser', [
      'login'
    ]),
    // Form submit
    async submit () {
      // Prevent multi clicking
      if (this.form.loading) return
      this.form.loading = true
      let login = this.form.login.val // typed login
      let password = this.form.password.val // typed password
      let { status, errors } = await this.login({ login, password })
      if (status && !errors) {
        // If no errors
        this.$router.push({ name: 'home' }) // go to home page
      } else {
        // Handle fields
        if (errors.fields) this.$refs.form.setErrors(errors.fields)
        // Handle global errors
        if (errors.global) {
          this.$refs.form.setErrors({
            login: errors.global,
            password: errors.global
          })
        }
        this.form.loading = false
      }
    },

    // Show password
    showPassword () {
      if (this.form.password.params.type === 'password') {
        this.form.password.params.type = 'text'
        this.form.password.icon = 'show'
      } else {
        this.form.password.params.type = 'password'
        this.form.password.icon = 'hide'
      }
    }
  }
}
</script>
