<template lang="pug">
  AppLayout(v-bind="layoutParams"): .container: .row
    ValidationObserver.col(ref="form" v-bind="observer" v-slot="{ handleSubmit, invalid }")
      form.form-wrapper(@submit.prevent="handleSubmit(submit)" novalidate)
        h2(v-text="heading")
        .row
          //- Deposit field ----------------------------------------------------
          .col-6
            ValidationProvider.ui-form-field(v-bind="deposit.provider" v-slot="{ errors }")
              label.label(:for="deposit.params.name" v-text="deposit.label.text")
              UiTooltip(v-bind="deposit.label.tip")
              input.ui-input(
                type="number"
                v-bind="deposit.params"
                :id="deposit.params.name"
                v-model="depositModel"
                :class="{ error: errors.length > 0 }"
              )
              p.errors(v-if="errors.length > 0" :title="errors[0]" v-text="errors[0]")
          //- Term field -------------------------------------------------------
          .col-6
            ValidationProvider.ui-form-field(v-bind="term.provider" v-slot="{ errors }")
              label.label(:for="term.params.name" v-text="term.label.text")
              UiTooltip(v-bind="term.label.tip")
              input.ui-input(
                type="number"
                v-bind="term.params"
                :id="term.params.name"
                v-model="termModel"
                :class="{ error: errors.length > 0 }"
              )
              p.errors(v-if="errors.length > 0" :title="errors[0]" v-text="errors[0]")
          //- Raiting field ----------------------------------------------------
          .col-12
            .ui-form-field
              span.label(v-text="raiting.text")
              span.chosen(v-text="raiting.title")
              UiTooltip(v-bind="raiting.tip")
              .rating-slider(ref="ratingSlider")
          //- Corporate field --------------------------------------------------
          .col-6
            .ui-form-field
              span.label(v-text="bondType.text")
              UiTooltip(v-bind="bondType.tip")
              .ui-checkbox
                input(
                  type="checkbox"
                  :id="bondType.ofz.name"
                  v-model="ofzModel"
                )
                label(:for="bondType.ofz.name" v-text="bondType.ofz.text")
              .ui-checkbox
                input(
                  type="checkbox"
                  :id="bondType.corporate.name"
                  v-model="corporateModel"
                )
                label(:for="bondType.corporate.name" v-text="bondType.corporate.text")
          //- Period field -----------------------------------------------------
          .col-6: .ui-form-field
            span.label(v-text="period.text")
            UiTooltip(v-bind="period.tip")
            UiSelect(
              :options="period.options"
              :clearable="period.clearable"
              :reduce="opt => opt.value"
              v-model="periodModel"
            )
              div(slot="no-options") {{ period.notFound }}
          //- Submit button ----------------------------------------------------
          .col-12.button-col
            UiButton(
              :disabled="invalid || typesInvalid"
              :loading="loading"
            ) Собрать портфель
          //- Global errors ----------------------------------------------------
          p.global-errors(
            v-if="globalErrors"
            v-text="globalErrors[0]"
          )
</template>

<script>
import store from '@/store'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import noUiSlider from 'nouislider'

export default {
  name: 'Configuration',
  // Get data ----------------------------------------------------------- [Hook]
  beforeRouteEnter (to, from, next) {
    store.dispatch('moduleUser/fetchUser', { next })
  },
  // Data ----------------------------------------------------------------------
  data () {
    return {
      // Layout params
      layoutParams: {
        pageClass: 'configuration'
      },
      // Observer
      observer: {
        tag: 'div'
      },
      // Heading
      heading: 'Параметры собираемого портфеля',
      // Deposit field
      deposit: {
        label: {
          text: 'Сумма инвестиций, ₽',
          tip: {
            group: 'configuration',
            tip_id: 'tip_01'
          }
        },
        provider: {
          tag: 'div',
          name: 'deposit',
          skipIfEmpty: false,
          rules: {
            required: true,
            requiredNum: true
          },
          customMessages: {
            requiredNum: 'Укажите сумму больше 0'
          }
        },
        params: {
          placeholder: 'Сумма инвестиций',
          name: 'deposit'
        }
      },
      // Term field
      term: {
        label: {
          text: 'Срок инвестирования, лет',
          tip: {
            group: 'configuration',
            tip_id: 'tip_02'
          }
        },
        provider: {
          tag: 'div',
          name: 'term',
          skipIfEmpty: false,
          rules: {
            required: true,
            requiredNum: true
          },
          customMessages: {
            requiredNum: 'Укажите срок больше 0'
          }
        },
        params: {
          placeholder: 'Срок инвестиций',
          name: 'term'
        }
      },
      // Raiting field
      raiting: {
        text: 'Рейтинг облигаций',
        title: '',
        tip: {
          group: 'configuration',
          tip_id: 'tip_03'
        }
      },
      // Bond types
      bondType: {
        text: 'Тип облигаций',
        name: 'bond-type',
        tip: {
          group: 'configuration',
          tip_id: 'tip_04'
        },
        ofz: {
          name: 'ofz',
          text: 'ОФЗ'
        },
        corporate: {
          name: 'corp',
          text: 'Корпоративные'
        }
      },
      // Period field
      period: {
        text: 'Период. выплаты купона',
        tip: {
          group: 'configuration',
          tip_id: 'tip_05'
        },
        clearable: false,
        notFound: 'По вашему запросу ничего не найдено',
        options: [
          { label: '1 мес.', value: 30 },
          { label: '3 мес.', value: 90 },
          { label: '6 мес.', value: 180 },
          { label: '12 мес.', value: 366 }
        ]
      },
      // Range slider data
      rangeSliderData: [
        { v: 1, t: 'ruAAA' },
        { v: 2, t: 'ruAA+' },
        { v: 3, t: 'ruAA' },
        { v: 4, t: 'ruAA-' },
        { v: 5, t: 'ruA+' },
        { v: 6, t: 'ruA' },
        { v: 7, t: 'ruA-' },
        { v: 8, t: 'ruBBB+' },
        { v: 9, t: 'ruBBB' },
        { v: 10, t: 'ruBBB-' },
        { v: 11, t: 'ruBB+' },
        { v: 12, t: 'ruBB' },
        { v: 13, t: 'ruBB-' },
        { v: 14, t: 'ruB+' },
        { v: 15, t: 'ruB' },
        { v: 16, t: 'ruB-' },
        { v: 17, t: 'ruCCC' },
        { v: 18, t: 'ruCC' },
        { v: 19, t: 'ruC' },
        { v: 20, t: 'ruRD' },
        { v: 21, t: 'ruD' }
      ],
      // Loading status
      loading: false,
      // Global errors
      globalErrors: null
    }
  },
  // Created ------------------------------------------------------------ [HOOK]
  created () {
    if (this.isPortfolioFormed) this.RESTORE_MODULE()
  },
  // Mounted ------------------------------------------------------------ [HOOK]
  mounted () {
    // Init range slider
    this.createSlider()
  },
  // Computed ------------------------------------------------------------------
  computed: {
    // Vuex map getters of the Portfolio SM
    ...mapGetters('modulePortfolio', [
      'getPortfolioConfiguration',
      'isPortfolioFormed'
    ]),
    // Prepared slider data
    rangeSliderDataPrepared () {
      let data = [...this.rangeSliderData]
      return data.reverse()
    },
    // Deposit model
    depositModel: {
      get () { return this.getPortfolioConfiguration.deposit },
      set (v) { this.SET_CONFIGURATION_FIELD({ f: 'deposit', v }) }
    },
    // Term model
    termModel: {
      get () { return this.getPortfolioConfiguration.term },
      set (v) { this.SET_CONFIGURATION_FIELD({ f: 'term', v }) }
    },
    // Raiting model
    raitingModel: {
      get () { return this.getPortfolioConfiguration.raiting },
      set (v) { this.SET_CONFIGURATION_FIELD({ f: 'raiting', v }) }
    },
    // OFZ model
    ofzModel: {
      get () { return this.getPortfolioConfiguration.ofz },
      set (v) { this.SET_CONFIGURATION_FIELD({ f: 'ofz', v }) }
    },
    // Corporate model
    corporateModel: {
      get () { return this.getPortfolioConfiguration.corporate },
      set (v) { this.SET_CONFIGURATION_FIELD({ f: 'corporate', v }) }
    },
    // Period model
    periodModel: {
      get () { return this.getPortfolioConfiguration.period },
      set (v) { this.SET_CONFIGURATION_FIELD({ f: 'period', v }) }
    },
    // Types invalid
    typesInvalid () {
      let arr = [this.ofzModel, this.corporateModel]
      return !arr.some(x => x === true)
    }
  },
  // Methods -------------------------------------------------------------------
  methods: {
    // Vuex map mutations of the Portfolio SM
    ...mapMutations('modulePortfolio', [
      'SET_CONFIGURATION_FIELD',
      'RESTORE_MODULE'
    ]),
    // Vuex map actions of the Portfolio SM
    ...mapActions('modulePortfolio', [
      'createPortfolio'
    ]),
    // Create range slider TODO: delete later
    createSlider () {
      // Init
      noUiSlider.create(this.$refs.ratingSlider, {
        start: this.rangeSliderDataPrepared.findIndex(x => x.v === this.raitingModel),
        step: 1,
        connect: [true, false],
        tooltips: {
          to: value => this.rangeSliderDataPrepared[value].t
        },
        range: {
          'min': 0,
          'max': this.rangeSliderDataPrepared.length - 1
        },
        pips: {
          mode: 'steps',
          density: -1,
          stepped: true,
          format: {
            to: value => {
              return this.rangeSliderDataPrepared[value].t
            }
          }
        }
      })
      // Update event
      this.$refs.ratingSlider.noUiSlider.on('update', (v, h, u) => {
        this.raiting.title = this.rangeSliderDataPrepared[u[0]].t
      })
      // Set event
      this.$refs.ratingSlider.noUiSlider.on('set', (v, h, u) => {
        this.raitingModel = this.rangeSliderDataPrepared[u[0]].v
      })
    },
    // Form submit
    async submit () {
      // Prevent multi clicking
      if (this.loading) return
      this.loading = true
      if (this.globalErrors) this.globalErrors = null
      const { status, errors } = await this.createPortfolio()
      if (status && !errors) {
        // If no errors
        this.$router.push({ name: 'portfolio' }) // go to portfolio page
      } else {
        // Handle fields
        if (errors.fields) this.$refs.form.setErrors(errors.fields)
        // Handle global errors
        if (errors.global) this.globalErrors = errors.global
        this.loading = false
      }
    }
  }
}
</script>
