<template lang="pug">
  AppLayout(v-bind="layoutParams"): .container
    .row.portfolio
      //- Chart col
      .col-12.col-lg-6
        .canvas
          i.icon: UiSpriteIcon(icon="case")
          Chart(:options="pieChartOptions" ref="chartEl")
      //- Description col
      .col-12.col-lg-6
        UiDetails(v-bind="curBondDesc")
          UiButton(
            icon="transfer"
            size="small"
            :disabled="curBond.alternative_papers.length === 0"
            @click.native="changeBond(curBond.buid)"
          ) Заменить
    //- Actions row
    .row.actions
      //- Balance
      .col-auto: p
        | {{cashBalance.label}}
        span(v-text="`${getFormed.amount_after_purchase} ₽`")
      //- Buttons
      .col-auto
        UiButton(v-bind="printButton" @click.native="printPDF" v-if="printButton.flag") На печать
        UiButton(v-bind="saveButton" @click.native="savePDF") {{ saveBtnText }}
        UiButton(v-bind="sendButton" @click.native="openPopup" v-if="sendButton.flag") На Эл. почту
    //- Table row
    .row.table
      .col-12
        .table-wrapper: table.ui-table
          thead: tr
            th.ui-table-head(v-for="(item, idx) in table.headings"): .cell {{item}}
          tbody: tr(
            v-for="item in getPortfolioBonds"
            :key="item.idx"
            @click="selectBondByIdx(item.idx)"
            :class="{selected: item.selected, attention: item.attention !== null ? 'attention': ''}"
            )
            td.num-col: .cell {{item.idx + 1}}
            td.name-col: .cell(:style="`color: ${item.color}`"): span {{item.name}}
            td.cost-col: .cell {{item.amount_spent_paper}}
            td.nkd-col: .cell {{item.nkd}}
            td.count-col: .cell {{item.count_buy_papper}}
            td.repayment-col: .cell {{item.date_maturity}}
            //- td.date-col: .cell {{item.date_next_coupon}}
            td.rate-col: .cell {{item.coupon_duration}}
            td.profit-col: .cell {{item.profitability}}
            td.rating-col: .cell {{item.rating}}
            td.actions-col: .cell: UiButton.change(
              v-bind="table.button"
              :disabled="item.alternative_papers.length === 0"
              @click.native="changeBond(item.buid)"
            ) Заменить
    .row.footer-actions: .col-auto
      UiButton(@click.native="createNew") Новый портфель
    //- Send mail popup
    UiModal(
      transition="nice-modal-fade"
      name="send"
      width="300"
      height="auto"
    )
      .send-mail
        button.cross(@click="closePopup")
        h2 Отправка
        ValidationObserver(v-slot="{ handleSubmit, invalid }" ref="form" slim)
          form(@submit.prevent="handleSubmit(sendPDF)" novalidate)
            ValidationProvider.ui-form-field(v-bind="sendMail.provider" v-slot="{ errors }")
              label.label(:for="sendMail.params.name")
                | {{ sendMail.label.text }}
              input.ui-input(
                v-bind="sendMail.params"
                :id="sendMail.params.name"
                v-model="sendMailModel"
                :class="{ error: errors.length > 0 }"
              )
              p.errors(:title="errors[0]" v-text="errors[0]")
            UiButton.w100p(@click="sendPDF" :disabled="invalid") Отправить
</template>

<script>
import Highcharts from 'highcharts'
import { Chart } from 'highcharts-vue'
import exportingInit from 'highcharts/modules/exporting'
import { mapGetters, mapMutations, mapActions } from 'vuex'
exportingInit(Highcharts)
Highcharts.setOptions({
  credits: false, // Disable Highcharts link
  title: {
    text: null
  },
  colors: [
    '#E91E63',
    '#9C27B0',
    '#673AB7',
    '#2196F3',
    '#00BCD4',
    '#009688',
    '#4CAF50',
    '#CDDC39',
    '#FFC107',
    '#FF9800',
    '#FF5722',
    '#795548',
    '#9E9E9E',
    '#607D8B'
  ],
  exporting: {
    enabled: false
  },
  chart: {
    backgroundColor: 'transparent',
    plotBackgroundColor: 'transparent',
    plotBorderWidth: null,
    style: {
      fontFamily: "'Roboto', sans-serif"
    }
  },
  tooltip: {
    padding: 15,
    className: 'ui-chart-tooltip',
    backgroundColor: '#fff',
    borderColor: '#E4E9ED',
    shadow: true,
    useHTML: true
  },
  lang: {
    loading: 'Загрузка...',
    months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
    weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
    shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
    exportButtonTitle: 'Экспорт',
    printButtonTitle: 'Печать',
    rangeSelectorFrom: 'С',
    rangeSelectorTo: 'По',
    rangeSelectorZoom: 'Период',
    downloadPNG: 'Скачать PNG',
    downloadJPEG: 'Скачать JPEG',
    downloadPDF: 'Скачать PDF',
    downloadSVG: 'Скачать SVG',
    printChart: 'Напечатать график'
  }
})

export default {
  name: 'Portfolio',
  // Components ----------------------------------------------------------------
  components: {
    Chart
  },
  // Data ----------------------------------------------------------------------
  data () {
    return {
      // Layout params
      layoutParams: {
        pageClass: 'portfolio'
      },
      // Pie chart
      pieChartOptions: {
        // Chart container settings
        chart: {
          margin: [0, 60, 0, 60],
          type: 'pie'
        },
        // Chart tooltip
        tooltip: {
          enabled: false
        },
        plotOptions: {
          pie: {
            size: '55%',
            shadow: false,
            innerSize: '65%',
            allowPointSelect: true,
            borderWidth: 5,
            borderColor: '#f4f4f4',
            cursor: 'pointer',
            crop: true,
            // Label
            dataLabels: {
              enabled: true,
              distance: 15,
              formatter: function () {
                return `<h3>${this.key}</h3><br style="content: ' '"><p>${this.y}₽ <span>${this.point.percentage.toFixed(1)} %</span></p>`
              },
              useHTML: true,
              crop: false,
              overflow: 'justify'
            }
          },
          series: {
            point: {
              events: {
                click: ({ point }) => {
                  this.pieLock = true
                  this.selectBondByIdx(point._idx)
                }
              }
            }
          }
        },
        title: {
          text: 'Структура портфеля'
        },
        series: [
          {
            states: {
              hover: {
                enabled: false
              },
              inactive: {
                opacity: 0.8
              }
            },
            cursor: 'pointer',
            name: 'Сумма',
            data: []
          }
        ]
      },
      // Cash balance
      cashBalance: {
        label: 'Свободный денежный остаток:'
      },
      // Print button
      printButton: {
        flag: false,
        size: 'small',
        type: 'dark',
        icon: 'print'
      },
      // Save button
      saveButton: {
        size: 'small',
        type: 'red',
        icon: 'download',
        disabled: false
      },
      // Save btn text
      saveBtnText: 'Открыть PDF',
      // Send button
      sendButton: {
        flag: false,
        size: 'small',
        type: 'blue',
        icon: 'mail'
      },
      // Table
      table: {
        button: {
          type: 'text',
          icon: 'transfer'
        },
        headings: [
          '#',
          'Наименование',
          'Стоимость, (₽)',
          'НКД, (₽)',
          'Кол-во, (шт.)',
          'Погашение',
          // 'Дата след. купона',
          'Периодичность купона (дн.)',
          'Доходность, (%)',
          'Рейтинг',
          'Действия'
        ]
      },
      // Send mail popup
      sendMail: {
        label: {
          text: 'E-mail клиента'
        },
        provider: {
          tag: 'div',
          name: 'send-mail',
          skipIfEmpty: false,
          rules: {
            required: true,
            email: true
          },
          customMessages: {
            email: 'Не верный формат почты'
          }
        },
        params: {
          placeholder: 'client@email.ru',
          name: 'send-mail'
        }
      },
      // Pie lock
      pieLock: false
    }
  },
  // Watch ---------------------------------------------------------------------
  watch: {
    // Donut data
    pieData: {
      handler (v) {
        this.pieChartOptions.series[0].data = v
      },
      deep: true, // so fucking deep...
      immediate: true
    },
    // Current bond idx
    curBondIdx: {
      handler (v) {
        if (this.pieLock) {
          this.pieLock = false
          return
        }
        setTimeout(() => {
          if (this.pieChartOptions.series[0].data.length < 2) return
          let idx = this.pieChartOptions.series[0].data.findIndex(p => p._idx === v)
          this.$refs.chartEl.chart.series[0].data[idx].select(true, false)
        }, 100)
      }
    }
  },
  // Computed ------------------------------------------------------------------
  computed: {
    // Vuex map getters of the Portfolio SM
    ...mapGetters('modulePortfolio', [
      'getPortfolioBonds',
      'getFormed',
      'getUX'
    ]),
    // Current bond
    curBond () {
      return this.getPortfolioBonds.find(x => x.idx === this.getUX.curIdx)
    },
    // Current bond desc
    curBondDesc () {
      let cb = this.curBond
      return {
        color: cb.color,
        title: cb.name,
        text: cb.paper_description,
        attention: cb.attention,
        dataArr: [
          { label: 'Код ЦБ:', text: cb.buid },
          { label: 'Рейтинг:', text: cb.rating },
          { label: 'Эмитент:', text: cb.issuer },
          { label: 'Цена:', text: `${cb.price} ₽` },
          { label: 'Доходность:', text: `${cb.profitability} %` },
          { label: 'Периодичность купона:', text: `${cb.coupon_duration} дн.` },
          { label: 'Дата гашения:', text: cb.date_maturity }
        ]
      }
    },
    // Current bond idx
    curBondIdx () {
      return this.getUX.curIdx
    },
    // Pie data
    pieData () {
      return this.getPortfolioBonds.map(b => {
        return {
          y: b.amount_spent_paper,
          color: b.color,
          name: b.buid,
          _idx: b.idx
        }
      })
    },
    // Send mail model
    sendMailModel: {
      get () { return this.getUX.email },
      set (v) { this.SET_UX_FIELD({ f: 'email', v }) }
    }
  },
  // Methods -------------------------------------------------------------------
  methods: {
    // Vuex map mutations of the Portfolio SM
    ...mapMutations('modulePortfolio', [
      'SET_UX_FIELD'
    ]),
    // Vuex map actions of the Portfolio SM
    ...mapActions('modulePortfolio', [
      'fetchPDF',
      'sendPDF'
    ]),
    // Select current
    selectBondByIdx (idx) {
      this.SET_UX_FIELD({ f: 'curIdx', v: idx })
    },
    // Export Pie chart svg
    exportPieChartSVG () {
      return this.$refs.chartEl.chart.getSVG()
    },
    // Create new portfolio
    createNew () {
      this.$router.push({ name: 'home' })
    },
    // Change bond
    changeBond (buid) {
      this.SET_UX_FIELD({ f: 'curBuid', v: buid })
      this.$router.push({ name: 'replace' })
    },
    // ----------------------------------------------------------- [DEVELOPMENT]
    // Print PDF
    async printPDF () {
      await this.fetchPDF({ svg: this.exportPieChartSVG() })
    },
    // Save PDF
    async savePDF () {
      this.saveBtnText = 'Ожидание...'
      this.saveButton.disabled = true
      let { status, errors } = await this.fetchPDF({ svg: this.exportPieChartSVG() })
      if (status) {
        this.saveBtnText = 'Открыть PDF'
        this.saveButton.disabled = false
      } else {
        this.saveBtnText = errors.global[0]
        setTimeout(() => {
          this.saveBtnText = 'Открыть PDF'
          this.saveButton.disabled = false
        }, 3000)
      }
    },
    // Send PDF
    sendPDF () {
      // console.log(this.exportPieChartSVG())
    },
    // Open popup
    openPopup () {
      this.$modal.show('send')
    },
    // Close popup
    closePopup () {
      this.$modal.hide('send')
    }
  }
}
</script>
