<template lang="pug">
  AppLayout(v-bind="layoutParams"): .container: .row
    //- TODO: Add markup
    .col-auto
      UiLoader
</template>

<script>
export default {
  name: 'Processing',
  // Data ----------------------------------------------------------------------
  data () {
    return {
      // Layout params
      layoutParams: {
        pageClass: 'processing'
      }
    }
  },
  // Created ------------------------------------------------------------ [HOOK]
  created () {
    // Processing timeout, before redirect
    setTimeout(() => {
      this.$router.push({ name: this.$route.params.to.name })
    }, 200)
  }
}
</script>
