<template lang="pug">
  AppLayout(v-bind="layoutParams"): .container: .row
    .col-12.title
      h2 {{heading}}
    //- Table col
    .col-12.table
      .table-wrapper: table.ui-table
        thead: tr
          th.ui-table-head(v-for="(item, idx) in table.headings" ): .cell {{item}}
        tbody: tr(
          v-for="(item, idx) in getReplaceBonds"
          :key="item.idx"
          :class="{attention: item.attention !== null ? 'attention': ''}"
          )
          td.num-col: .cell {{idx + 1}}
          td.name-col: .cell(:style="`color: ${item.color}`"): span {{item.name}}
          td.code-col: .cell {{item.seccode}}
          td.repayment-col: .cell {{item.date_maturity}}
          td.rate-col: .cell {{item.coupon_duration}}
          td.profit-col: .cell {{item.profitability}}
          td.rating-col: .cell {{item.rating}}
          td.actions-col: .cell
            UiButton.detail(v-bind="table.buttons.detail" @click.native="openPopup(idx)") Детализация
            UiButton.change(v-bind="table.buttons.choose" @click.native="changeBond(idx)") Выбрать
    //- Bond details popup
    UiModal(
      transition="nice-modal-fade"
      name="details"
      width="540"
      height="auto"
      @before-open="beforePopupOpen"
    )
      button.cross(@click="closePopup")
      UiDetails(v-bind="detailsData")
        UiButton(icon="transfer" size="small" @click.native="changeBond(null)") Заменить
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'Replace',
  // Data ----------------------------------------------------------------------
  data () {
    return {
      // Layout params
      layoutParams: {
        pageClass: 'replace'
      },
      // Heading
      heading: 'Бумаги для замены',
      // Table
      table: {
        buttons: {
          detail: {
            icon: 'info',
            type: 'text'
          },
          choose: {
            icon: 'transfer',
            type: 'text'
          }
        },
        headings: [
          '#',
          'Наименование',
          'Код ЦБ',
          'Погашение',
          'Периодичность купона (дн.)',
          'Доходность, (%)',
          'Рейтинг',
          'Действия'
        ],
        data: []
      },
      // Popup data
      popupData: null
    }
  },
  // Computed ------------------------------------------------------------------
  computed: {
    // Vuex map getters of the Portfolio SM
    ...mapGetters('modulePortfolio', [
      'getReplaceBonds',
      'getUX'
    ]),
    // Return detail data
    detailsData () {
      return this.popupData
    }
  },
  // Methods -------------------------------------------------------------------
  methods: {
    // Vuex map getters of the Portfolio SM
    ...mapActions('modulePortfolio', [
      'changePortfolioBond'
    ]),
    // Change bond
    async changeBond (v) {
      let sendVal
      if (v === null) {
        sendVal = this.popupData.dataArr[0].text
      } else {
        sendVal = this.getReplaceBonds[v].seccode
      }
      const { status, errors } = await this.changePortfolioBond(sendVal)
      if (status && !errors) {
        this.$router.push({ name: 'portfolio' })
      }
    },
    // Open popup
    openPopup (v) {
      // TODO: Test popup data
      let cb = this.getReplaceBonds[v]
      let descData = {
        title: cb.name,
        text: cb.paper_description,
        color: cb.color,
        attention: cb.attention,
        dataArr: [
          {
            label: 'Код ЦБ:',
            text: cb.seccode
          },
          {
            label: 'Рейтинг:',
            text: cb.rating
          },
          {
            label: 'Эмитент:',
            text: cb.issuer
          },
          {
            label: 'Цена:',
            text: `${cb.price} ₽`
          },
          {
            label: 'Доходность:',
            text: `${cb.profitability} %`
          },
          {
            label: 'Периодичность купона:',
            text: `${cb.coupon_duration} дн.`
          },
          {
            label: 'Дата гашения:',
            text: cb.date_maturity
          }
        ]
      }
      this.$modal.show('details', { data: descData })
    },
    // Close popup
    closePopup () {
      this.$modal.hide('details')
    },
    // Save popup data locally
    beforePopupOpen (e) {
      this.popupData = e.params.data
    }
  }
}
</script>
