// -----------------------------------------------------------------------------
// App header
// -----------------------------------------------------------------------------
// 1. Grid specific
// 2. Logo
// 3. User toolbar
// -----------------------------------------------------------------------------

#app-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-width: 768px;
  height: $headerHeight;
  background: $color-blue;
  user-select: none;
  z-index: 1000;

  // 1. Grid specific
  > .container {
    height: 100%;
    position: relative;

    > .row {
      height: 100%;
      align-items: center;
      justify-content: space-between;
    }
  }

  // 2. Logo
  .logo {
    a {
      display: block;
      height: 36px;
      width: 135px;
      color: $color-white;
    }
  }

  // 3. User toolbar
  .user-toolbar {
    height: 16px;

    p {
      margin-right: 20px;
    }

    a {
      span {
        transition: color ease-in-out 250ms;

        &:hover {
          color: $color-gold-600;
        }
      }
    }

    p, a {
      display: inline-flex;
      font-size: 13px;
      color: $color-gray-600;
      align-items: center;

      .icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        color: $color-gold-600;
        margin-right: 6px;
      }

      span {
        line-height: 1;
      }
    }
  }
}
