// -----------------------------------------------------------------------------
// App footer
// -----------------------------------------------------------------------------

#app-footer {
  position: relative;
  background-color: $color-blue;
  color: $color-gray-600;
  flex: 0 0 auto; // self auto height
  user-select: none;
  padding: 15px 0;

  // 2. Grid specific
  > .container {
    height: $headerHeight - 30px;
    position: relative;
    > .row {
      height: 100%;
      align-items: center;
      justify-content: space-between;
    }
  }

  // 3. Copyrights
  .copyrights {
    p {
      font: {
        size: 13px;
        weight: 400;
        family: inherit;
      }
      line-height: 1;
    }
  }

  .created {
    a {
      font-size: 13px;
      text-decoration: underline;
    }
  }
}
