// -----------------------------------------------------------------------------
// App layout
// -----------------------------------------------------------------------------

#app-main {
  width: 100%;
  display: flex;
  flex: 1 0 auto; // Takes all available height
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  @include media-breakpoint-down(md) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .page-content {
    width: 100%;
    display: flex;
    flex: 1 0 auto; // Takes all available height
    > .inner {
      width: 100%;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}
