<template lang="pug">
  button.ui-button(
    :disabled="disabled || loading"
    :class="buttonClass"
    :type="typeSubmit"
  )
    span(v-if="hasSlotData")
      i.icon(v-if="icon || loading"): UiSpriteIcon(v-if="icon" :icon="icon")
      slot
</template>

<script>
export default {
  name: 'UiButton',
  // Props ---------------------------------------------------------------------
  props: {
    type: {
      type: String,
      default: ''
    },
    size: String,
    loading: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    icon: {
      type: String,
      default: ''
    },
    submit: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  // Computed ------------------------------------------------------------------
  computed: {
    // Button classes
    buttonClass () {
      return [
        this.type ? 'ui-button--' + this.type : '',
        this.size ? 'ui-button--' + this.size : '',
        {
          'is-disabled': this.disabled,
          'is-loading': this.loading
        }
      ]
    },
    // Type submit
    typeSubmit () {
      return this.submit ? 'submit' : false
    },
    // If slot data exist
    hasSlotData () {
      return this.$slots.default
    }
  }
}
</script>
