<template lang="pug">
  .ui-details
    .desc
      .title
        h2(:style="`color: ${color}`"): span {{title}}
      .text
        p {{text}}
      span.attention(v-for="(item, idx) in attention" v-if="attention.length > 0") {{item}}
      ul.list
        li(v-for="(item, idx) in dataArr")
          | {{item.label}}
          span {{item.text}}
      slot
</template>

<script>
export default {
  name: 'UiDetails',
  // Props ---------------------------------------------------------------------
  props: {
    title: {
      type: String,
      default: ''
    },
    text: {
      type: String,
      default: ''
    },
    attention: {
      type: Array,
      default: function () {
        return []
      }
    },
    dataArr: {
      type: Array,
      default: function () {
        return []
      }
    },
    color: {
      type: String,
      default: '#E4AD50'
    }
  }
}
</script>
