<template lang="pug">
  svg: use(:xlink:href="require('@/assets/img/ui-graphics.svg') + id")
</template>

<script>
export default {
  name: 'UiSpriteIcon',
  // Props ---------------------------------------------------------------------
  props: {
    // SVG sprite icon id
    icon: {
      type: String,
      default: 'sprite-icon-fallback'
    }
  },
  // Computed ------------------------------------------------------------------
  computed: {
    // Icon id
    id () {
      return '#' + this.icon
    }
  }
}
</script>
