<template lang="pug">
  span.ui-tooltip(
    tabindex="-1"
    ref="tooltip"
  ): UiSpriteIcon(icon="help")
</template>

<script>
import tippy from 'tippy.js'
import { mapGetters } from 'vuex'
export default {
  name: 'UiTooltip',
  // Props ---------------------------------------------------------------------
  props: {
    // Tooltip group
    group: {
      type: String,
      required: true
    },
    // Tooltip ID
    tip_id: {
      type: String,
      required: true
    },
    // Placement
    placement: {
      type: String,
      default: 'right'
    }
  },
  // Mounted -------------------------------------------------------------------
  mounted () {
    this.tippyInit()
  },

  // Before destroy ------------------------------------------------------------
  beforeDestroy () {
    this.tippyDestroy() // Destroy tippy
  },

  // Watch ---------------------------------------------------------------------
  watch: {
    content (v) {
      this.tippyUpdate(v)
    }
  },
  // Methods -------------------------------------------------------------------
  methods: {
    // Init
    tippyInit () {
      tippy(this.$refs.tooltip, {
        content: this.getTooltipBy(this.group, this.tip_id),
        arrow: true,
        placement: this.placement,
        performance: true,
        interactive: true,
        theme: 'light',
        zIndex: 80
      })
    },
    // Update content
    tippyUpdate (v) {
      this.$refs.tooltip._tippy.setContent(v)
    },

    // Destroy
    tippyDestroy () {
      this.$refs.tooltip._tippy.destroy()
    }
  },

  // Computed ------------------------------------------------------------------
  computed: {
    ...mapGetters('moduleStatic', ['getTooltipBy'])
  }
}
</script>
