// -----------------------------------------------------------------------------
// Styles config
// -----------------------------------------------------------------------------

// 1. Colors -------------------------------------------------------------------

$color-white: #FFFFFF;
$color-gray-500: #E4E4E4;
$color-gray-600: #D4D4D4;
$color-gray-700: #C4C4C4;
$color-gold-500: #F1B756;
$color-gold-600: #E4AD50;
$color-gold-700: #DB9C48;
$color-red: #D92F37;
$color-light-blue: #2980B9;
$color-blue: #1D2B44;
$color-text: #151515;
$color-black: #000000;

// 2. Fonts --------------------------------------------------------------------

$font-family-base: 'Roboto', sans-serif;

// 3. Grid ---------------------------------------------------------------------

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 630px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$grid-columns: 12;
$grid-gutter-width: 30px;

// 4. Layouts ------------------------------------------------------------------

$headerHeight: 76px;
