// -----------------------------------------------------------------------------
// Global styles
// -----------------------------------------------------------------------------
// 1. Base
// 2. Links
// 3. Headings
// 4. Utils
// -----------------------------------------------------------------------------

// 1. Base

html, body {
  height: 100%;
  min-width: 768px;
}

#app {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: $headerHeight; // as header height
  display: flex;
  flex-direction: column;
  svg {
    display: block;
    width: 100%; // take all available parent width
    height: 100%; // take all available parent height
  }
}

// 2. Links

a {
  // Transitions
  transition-property: background-color, color, border-color, opacity;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  color: $color-gray-600;
  // Hover
  &:hover {
    color: $color-gold-600;
  }
}

// 3. Headings

h1, h2 , h3, h4, h5, h6 {
  user-select: none;
}

h2 {
  font-size: 20px;
  color: $color-text;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 24px;
}

// 4. Utils

.w100p {
  width: 100% !important;
}
