<template lang="pug">
  #app
    //- Application header
    AppHeader
    //- Router view
    RouterView
    //- Application footer
    AppFooter
</template>

<script>
import svg4everybody from 'svg4everybody'
import { mapActions } from 'vuex'
import AppHeader from '@/layouts/AppHeader'
import AppFooter from '@/layouts/AppFooter'

export default {
  name: 'App',
  // Components ----------------------------------------------------------------
  components: {
    AppHeader,
    AppFooter
  },
  // Created ------------------------------------------------------------ [Hook]
  created () {
    this.init() // app init
  },
  // Mounted ------------------------------------------------------------ [Hook]
  mounted () {
    svg4everybody() // External SVG sprite polyfill
  },
  // Methods -------------------------------------------------------------------
  methods: {
    // Map actions of the Static SM
    ...mapActions('moduleStatic', [
      'fetchAppStatic'
    ]),
    // App init
    init () {
      this.fetchAppStatic()
    }
  }
}
</script>

<style lang="scss" src="@/assets/scss/app.scss"></style>
