<template lang="pug">
  footer#app-footer
    .container
      .row
        //- Copyrights
        .col-auto.copyrights
          p(v-html="copyrights")
        //- Created by
        .col-auto.created
          p
            | Разработано в
            |
            a(:href="devBy" target="blank") Conomy
</template>

<script>
export default {
  name: 'AppFooter',
  // Data ----------------------------------------------------------------------
  data () {
    return {
      created: 2020,
      owner: 'Anderida',
      devBy: 'https://www.conomy.ru/'
    }
  },
  // Computed ------------------------------------------------------------------
  computed: {
    // Copyrights
    copyrights () {
      let curYear = parseInt(new Date().getFullYear())
      let years = curYear > this.created
        ? this.created + ' - ' + curYear
        : this.created
      return `&copy; ${this.owner} ${years}`
    }
  }
}
</script>
