<template lang="pug">
  header#app-header: .container: .row
    //- Logo
    .col-auto.logo: RouterLink(:to="{name: 'home'}"): UiSpriteIcon(icon="logo")
    //- User toolbar
    .col-auto.user-toolbar(v-if="isFetchedData")
      p
        i.icon: UiSpriteIcon(icon="user")
        span {{ userToolbarName }}
      a(href="#" title="Завершить сеанс" @click.prevent="logout(true)")
        i.icon: UiSpriteIcon(icon="logout")
        span Выйти
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'AppHeader',
  // Computed ------------------------------------------------------------------
  computed: {
    // Vuex map getters of the Static SM
    ...mapGetters('moduleUser', [
      'isFetchedData',
      'userToolbarName'
    ])
  },
  // Methods -------------------------------------------------------------------
  methods: {
    // Vuex map actions of the User SM
    ...mapActions('moduleUser', [
      'logout'
    ])
  }
}
</script>
