<template lang="pug">
  main#app-main
    //- Content
    .page-content(:class="pageClassName"): .inner: slot
</template>

<script>
export default {
  name: 'AppLayout',
  // Props ---------------------------------------------------------------------
  props: {
    // Page Class
    pageClass: {
      type: String,
      default: ''
    }
  },
  // Computed ------------------------------------------------------------------
  computed: {
    // Page class name
    pageClassName () {
      return `page-${this.pageClass}`
    }
  }
}
</script>
